* {
  box-sizing: border-box;
  line-height: 25.89px;
}

/* navigation style start */
.navigation {
  position: fixed;
  width: 100%;
}
/* navigation style end */

.journal-sect-1 {
  padding-top: 5rem;
  background: #eeeeee;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  border: 2px #17255a solid;
  border-radius: 8px;
  padding: 7px 15px;
  background: transparent;
  font-weight: 500px;
}

.journal-sect-2 {
  text-align: center;
  background: #eeeeee;
}

.journal-img {
  width: 375px;
  height: 301px;
  margin: auto;
  padding-bottom: 1rem;
}

.carr-green-col {
  font-weight: 600;
}

.journal-sect-2-div {
  width: 90%;
  margin: auto;
}

.journal-sect-2-div h1 {
  font-size: 34px;
  line-height: 37.46px;
  font-weight: 900;
}

.journal-sect-3 {
  padding: 2rem 0;
}

.btn-div {
  text-align: center;
}

.journal-sect-3-div {
  text-align: center;
}

.journal-sect-3-div div {
  padding-bottom: 2rem;
}

.journal-sect-3 h1 {
  width: 80%;
  margin: auto;
}

.journal-img-2 {
  width: 375px;
  height: 301px;
  padding-bottom: 1rem;
}

/* For tablet and laptop screens */
@media only screen and (min-device-width: 800px) and (max-device-width: 1400px) {
  .journal-sect-1 {
    padding-top: 10rem;
    height: 400px;
    flex-direction: row;
    justify-content: space-around;
  }

  .btn {
    font-size: 14px;
  }

  .journal-sect-2 {
    display: flex;
    justify-content: space-around;
    text-align: unset;
    background: #eeeeee;
  }

  .journal-img {
    width: 55%;
    height: 400px;
    margin: unset;
  }

  .journal-sect-2-div {
    width: 35%;
    margin: unset;
  }

  .journal-sect-2-div div {
    display: flex;
    padding-bottom: 2rem;
  }

  .circle-photo {
    margin-right: 2rem;
  }

  .journal-sect-3-div {
    text-align: unset;
    display: flex;
    justify-content: space-around;
  }

  .journal-sect-3-div div {
    width: 23.5%;
  }

  .journal-sect-3 h1 {
    width: unset;
  }

  .journal-img-2 {
    width: 100%;
    height: 313px;
  }
}
