body {
  font-size: 15px;
}

/* for footer */
.footer-sec-1 div {
  background: #03cea4;
}
/* end for footer here */

.welcome {
  padding-top: 3rem;
  font-size: 2.5rem;
  color: #17255a;
  font-weight: 900;
  text-align: center;
  line-height: 2.5rem;
}

.img-lg {
  width: 375px;
  height: 301px;
}

.img-sm {
  width: 252px;
  height: 240px;
}

.btn-more {
  outline: none;
  background-color: transparent;
  color: #03cea4;
  border: none;
  text-decoration: underline;
  padding: 1rem 0;
}

.landing-sec-3,
.landing-sec-5 {
  background: #eeeeee;
}

.landing-sec-6 {
  background: #17255a;
}

.landing-sec-1 {
  padding-bottom: 3rem;
}

.landing-sec-1,
.landing-sec-2,
.landing-sec-3,
.landing-sec-4,
.landing-sec-5,
.landing-sec-6 {
  text-align: center;
}

.landing-sec-2 h1,
.landing-sec-3 h1,
.landing-sec-4 h1,
.landing-sec-6 h1 {
  font-size: 24px;
}

.things {
  font-size: 28px;
}
.gen-code-pink .ignite .t-underline,
.gen-code-pink .code-pink .t-underline {
  font-size: 20px !important;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1400px) {
  .welcome {
    width: 65%;
    text-align: left;
    padding-left: 3rem;
  }
  .we {
    width: 50%;
    text-align: left;
    padding-left: 3rem;
    padding-bottom: 3rem;
  }

  .landing-sec-2,
  .landing-sec-3,
  .landing-sec-4,
  .landing-sec-5,
  .landing-sec-6 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: unset;
  }

  .img-sm {
    width: 240px;
    height: 240px;
    padding: 1rem 1rem 0 0;
  }

  .gen-code-pink {
    display: flex;
    flex-direction: column;
  }

  .ignite {
    display: flex;
    align-items: center;
  }

  .code-pink {
    display: flex;
  }

  .things {
    font-size: 55px;
    line-height: 60px;
    width: 40%;
  }

  .banner-image {
    width: 90%;
    height: 460px;
  }

  .landing-sec-6-div {
    width: 40%;
  }
}
