/* For main nav mobile */

.menu-icon {
  cursor: pointer;
  float: right;
  padding-right: 1rem;
  background-color: #ffff;
  border-radius: 3px;
  width: 35px;
  height: 35px;
}

.menu-icon .bars {
  padding: 11px 8px;
}
.menu-icon .times {
  padding: 11px 10px;
}

.main-nav-container {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 0.5rem 1rem;
  background: #ffff;
}

.main-nav {
  display: none;
}

.main-nav-active {
  list-style: none;
  width: 100%;
  height: 50vh;
  left: 0;
  opacity: 1;
  transition: all 0.5s ease;
  z-index: 2;
  padding: 3rem 0 3rem 2rem;
  text-align: center;
}

.main-nav-links {
  color: #273043;
  font-size: 15px;
  text-decoration: none;
  padding-top: 20px;
}

.main-nav-div-1 {
  width: 100%;
}

.main-nav-div-2 {
  display: none;
}

/* For tablet and laptop screens */
@media only screen and (min-device-width: 800px) and (max-device-width: 1400px) {
  .menu-icon {
    display: none;
  }

  .main-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    height: 48px;
    list-style: none;
  }

  .main-nav-container {
    display: flex;
    justify-content: space-between;
  }

  .main-nav-links {
    text-decoration: underline;
  }

  .main-nav-div-1 {
    display: flex;
    justify-content: space-between;
    width: 75%;
    align-items: center;
  }

  .main-nav-div-2 {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav-div-2 p {
    color: #17255a;
  }
  .dev-studio-button {
    outline: none;
    background: transparent;
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid #17255a;
    color: #17255a;
    border-radius: 5px;
  }
}
