* {
  font-size: 15px;
  color: #273043;
}

/* For sub nav */
.nav-container {
  padding: 2rem 0;
  background: #17255a;
}

.subnav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
  color: white;
}

/* Styles for Footer */

.footer-sec-1 div {
  background: #eac435;
  text-align: center;
  padding: 2rem 2rem;
}

.footer-sec-1 div h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0px;
  color: #273043;
  text-decoration: underline;
}

form {
  background: transparent;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #17255a;
  margin-bottom: 3rem;
}

.form-btn {
  width: 108px;
  height: 36px;
  text-align: center;
  margin: auto;
  border: 2px #17255a solid;
  border-radius: 8px;
  background: transparent;
  font-weight: 500px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 1.25px;
}

.form-privacy p {
  text-decoration: underline;
}

.footer-sec-2 {
  text-align: center;
  padding: 2rem 2rem;
}

.footer-sec-2 div {
  margin-bottom: 2rem;
}

.devstudio-img {
  height: 159px;
  width: 159px;
  padding-bottom: 2rem;
}

.footer-sec-2 .linking {
  padding-bottom: 1rem;
  text-decoration: underline;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.25px;
}

.footer-sec-2 .non-linking {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.copyright {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.copyright p {
  font-size: 12px;
}

/* For tablet and laptop screens */
@media only screen and (min-device-width: 800px) and (max-device-width: 1400px) {
  /* Styles for Footer */

  .footer-sec-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-sec-1-img {
    margin: auto;
  }

  .footer-sec-1 div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: unset;
  }

  .footer-sec-1 div h1 {
    width: 30%;
    text-decoration: none;
  }

  .form-privacy {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  form {
    flex-direction: row;
    padding-bottom: 0;
  }

  input {
    margin-right: 3rem;
    margin-bottom: 1rem;
  }

  .form-btn {
    margin-left: 6rem;
  }

  .form-privacy p {
    text-decoration: none;
    margin-right: 20rem;
  }

  .footer-sec-2 {
    text-align: unset;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
  }

  .devstudio-img {
    height: 208px;
    width: 208px;
  }

  .footer-sec-2 :nth-child(1) {
    order: 1;
    width: 30%;
  }

  .footer-sec-2 :nth-child(2) {
    order: 3;
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
  .footer-sec-2 :nth-child(2) div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-sec-2 :nth-child(3) {
    order: 2;
    width: 30%;
  }

  .footer-sec-2 .linking {
    width: 100%;
  }

  .footer-sec-2 .non-linking {
    width: 100%;
  }

  .footer-sec-3-div {
    width: 30%;
    margin: auto;
  }
}
