.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #03cea4;
  margin: auto;
}

.profile-photo img {
  background: transparent;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.title {
  width: 316px;
  padding: 1rem 0;
}

.title p {
  width: 346px;
  padding: 1rem 0;
}

.vivid-quote {
  font-size: 34px;
  line-height: 37px;
  color: #f5772f;
}

.section-img {
  height: 375px;
  width: 315px;
  padding: 1rem 0 3rem 0;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1400px) {
  .des-sect-1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .des-sect-1,
  .des-sect-2 {
    width: 90%;
    margin: auto;
  }
  .title-holder,
  .vivid-quote {
    width: 50%;
  }
  .section-img {
    width: 1024px;
    height: 666px;
    margin: auto;
  }

  .des-sect-3 div {
    width: 50%;
    margin: auto;
  }
}
