* {
  box-sizing: border-box;
}

/* navigation style start */
.navigation {
  position: fixed;
  width: 100%;
}
/* navigation style end */

.des-sect-1 {
  padding-top: 5rem;
}

.profile-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #f5772f;
  margin: auto;
}

.profile-photo img {
  background: transparent;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.title {
  width: 316px;
  padding: 1rem 0;
  margin: auto;
}

.title-holder p {
  padding: 2rem 2rem;
}

.vivid-quote {
  padding: 0 1rem;
  font-size: 34px;
  line-height: 37px;
  color: #f5772f;
  text-align: center;
}

.section-img-div {
  text-align: center;
}
.section-img-div .section-img {
  height: 375px;
  width: 315px;
  padding: 1rem 0 3rem 0;
}

.sect-text-div {
  width: 90%;
  margin: auto;
  text-align: center;
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1400px) {
  .des-sect-1 {
    padding-top: 10rem;
    display: flex;
    flex-direction: row-reverse;
    text-align: unset;
    justify-content: space-between;
  }

  .des-sect-1,
  .des-sect-2 {
    width: 90%;
    margin: auto;
  }

  .title {
    margin: unset;
  }

  .title-holder p {
    padding: 2rem 0;
  }

  .title-holder,
  .vivid-quote {
    width: 50%;
    text-align: unset;
  }

  .section-img-div .section-img {
    width: 1024px;
    height: 666px;
    padding-top: 2rem;
  }

  .sect-text-div {
    width: 50%;
    margin: auto;
    text-align: unset;
  }
}
